*{
    margin: 0;
    padding: 0;
    text-align: center;
}

.hide {
    display: none
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

input {
    color: #000;
    font-size: 1.5em;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    line-height: 1.2em;
    text-align: center;
}

input:focus {
    outline: none
}

::placeholder {
    color: #000;
    font-size: 1.2em;
    text-align: center;
}

button {
    border: none;
    padding: 10px 20px;
    border: 1px solid #000;
    background: transparent;
    color: #000;
    margin-top: 10px;
}

.data{
    position: relative;
    max-width: 450px;
    margin: 0 auto;
    height: 100vh;
    z-index: -100;
}
#img {
    width: 40%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
    image-rendering: crisp-edges;
}

#condition{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2em;
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
}
#temp {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 5em;
    color: #000;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

#weather {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5em;
    color: #000;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

#city {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2.5em;
    color: #000;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}
#days{
   color: #000;
   font-family: 'Roboto Condensed', sans-serif;
   display: flex;
   position: absolute;
   justify-content: space-around;
   bottom: 50px;
   left: 0;
   width: 100%;
   height: 115px;
}

.day{
    max-width:50px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-weight: bold;
    flex-direction: column;

}

.icon{
    width: 40px
}

.description{
    font-size: 10px;
    max-height: 20px;
    font-weight: normal;
}

.min{
    margin-top: 15px;
}

.date{
    font-weight: normal;
    font-size: 10px;
    margin-bottom: 10px;
}
